:root {
  --fw-reg: 400;
  --fw-semi-bold: 500;
  --fs-100: 0.875rem;
  --fs-200: 0.9375rem;
  --fs-300: 1rem;
  --fs-500: 1.3rem;
  --fs-600: 1.5rem;
  --fs-700: 1.9rem;
  --letter-spaced-200: 0.1em;
  --letter-spaced-400: 0.2em;
  --line-height-300: 1.3;
  --line-height-400: 1.4;
  --line-height-600: 1.6;
  --color-neutral: hsl(224, 6%, 47%);
  --color-neutral-light: hsl(0, 0%, 95%);
  --color-neutral-dark: hsl(229, 31%, 21%);
  --color-primary-dark: hsl(231, 69%, 60%);
  --color-primary-accent: hsl(0, 94%, 66%);
  --divider-border: 1px solid var(--color-neutral);

  --regular-text-fs: var(--fs-300);
}

* {
  box-sizing: border-box;
}

/*------------------------------------*\
  #JS
\*------------------------------------*/

body.js-no-scroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

.js-nav-open .header {
  --logo-color: white;
}

.js-nav-open .header .nav-menu {
  background-color: var(--color-neutral-dark);
  visibility: visible;
  opacity: 95%;
}

.js-open-faq-answer.faq-answer-content {
  grid-template-rows: 1fr;
}

/*------------------------------------*\
  #RESET
\*------------------------------------*/

body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  min-height: 100vh;
}

button,
input {
  font-family: inherit;
}

button {
  display: inline-block;
}

h1,h2,h3,h4,p {
  margin: 0;
}

img,
svg {
  display: block;
  font-style: italic;
  height: auto;
  max-width: 100%;
}

/*------------------------------------*\
  #WRAPPERS
\*------------------------------------*/

.primary-container {
  --primary-padding: 1.5rem;
  margin: 0 auto;
  max-width: 68.75rem;
  padding-inline: var(--primary-padding);
}

.section-container {
  margin: 0 auto;
  max-width: 52ch;
}

.site-logo-link {
  display: inline-flex;
}

.top-lvl-section {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

/*------------------------------------*\
  #UTILS
\*------------------------------------*/

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.color-neutral-dark {
  color: var(--color-neutral-dark);
}

.link {
  color: inherit;
  text-decoration: none;
}

/*------------------------------------*\
  #HEADINGS
\*------------------------------------*/

.regular-text {
  color: var(--color-neutral);
  font-size: var(--regular-text-fs);
  font-weight: var(--fw-reg);
  line-height: var(--line-height-600);
  margin-bottom: 2em;
}

.hero-heading {
  font-size: var(--fs-700);
  font-weight: var(--fw-semi-bold);
  line-height: var(--line-height-300);
  margin-bottom: 0.5em;
}

.features-heading,
.feature-panel-heading,
.download-heading,
.faq-heading,
.cta-heading {
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
  line-height: var(--line-height-300);
  margin-bottom: 0.5em;
}

.card-heading {
  font-size: var(--fs-500);
  font-weight: var(--fw-semi-bold);
  line-height: var(--line-height-400);
}

.feature-tab-heading > button {
  font-size: var(--fs-300);
  line-height: var(--line-height-400);
}

/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/

.btn {
  border: 1px solid hsl(0, 0%, 0%, 0.1);
  border-radius: 0.25em;
  box-shadow: 0px 2px 10px 0px hsl(0, 0%, 0%, 0.2);
  font-size: var(--fs-200);
  font-weight: 500;
  line-height: var(--line-height-400);
  padding: 0.75em 1.19em;
}

.btn-dark {
  background-color: var(--color-primary-dark);
  color: white;
}

.btn-light {
  background-color: var(--color-neutral-light);
  color: var(--color-neutral-dark);
}

.btn-accent {
  background-color: var(--color-primary-accent);
  color: white;
}

/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.header {
  position: relative;
  z-index: 10;
}

.header .site-logo-link {
  flex-shrink: 2;
}

.header-content {
  --header-padding: 1rem;
  --header-height: calc(var(--header-padding) + 3rem);
  align-items: center;
  display: flex;
  font-size: var(--fs-500);
  height: var(--header-height);
  justify-content: space-between;
  letter-spacing: var(--letter-spaced-200);
  padding: var(--header-padding) 0;
}

.toggle-nav-btn {
  --padding: 0.5rem;
  border: none;
  background-color: transparent;
  left: var(--padding);
  padding: var(--padding);
  position: relative;
}

.header .nav-menu {
  color: white;
  display: flex;
  flex-direction: column;
  inset: 0;
  padding: calc(1rem + var(--header-height)) var(--primary-padding) 0 var(--primary-padding);
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  visibility: hidden;
  width: 100%;
  z-index: -1;
}

.header .site-links > li {
  border-bottom: var(--divider-border);
}

.header .site-links > li:first-child {
  border-top: var(--divider-border);
}

.header .site-link {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem;
}

.header .btn-login {
  background-color: transparent;
  border: 2px solid white;
  font-size: inherit;
  letter-spacing: inherit;
  margin: 1.5em auto;
  text-transform: inherit;
  width: min(100%, 21rem);
}

.header .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 1.5rem;
}

.header .social-links > li {
  display: inline-flex;
}

.header .social-link {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem;
}

@media screen and (min-width: 45em) {
  .header-content {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .header .nav-menu {
    --site-link-padding: 1rem;
    --site-link-margin: 0.5rem;
    background-color: initial;
    position: initial;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: var(--fs-100);
    letter-spacing: var(--letter-spaced-200);
    padding: 0;
    text-transform: uppercase;
    visibility: visible;
  }
  
  .header .site-links > li,
  .header .site-links > li:first-child {
    border: none;
  }

  .header .site-links {
    color: var(--color-neutral-dark);
    display: flex;
    flex-direction: row;
  }
  
  .header .site-link {
    margin: 0 var(--site-link-margin);
  }

  .header .social-links {
    display: none;
  }

  .header .btn-login {
    background-color: var(--color-primary-accent);
    border: none;
    margin: 0 0 0 calc(var(--site-link-margin) + var(--site-link-padding));
    padding: 0.75em 1.5em;
  }

  .toggle-nav-btn {
    display: none;
  }
}

/*------------------------------------*\
  #HERO SECTION
\*------------------------------------*/

.hero-section {
  text-align: center;
}

.hero-section-content {
  display: flex;
  flex-direction: column-reverse;
}

.hero-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 0.9rem;
  justify-content: center;
}

/*------------------------------------*\
  #FEATURES SECTION
\*------------------------------------*/

.features-section {
  text-align: center;
}

.feature-tab-btn {
  --tab-btn-padding: 0.75em;
  background-color: transparent;
  border: none;
  position: relative;
  padding: var(--tab-btn-padding);
}

.feature-tab-btn[aria-selected="true"]::after {
  background-color: var(--color-primary-accent);
  bottom: 0;
  content: "";
  display: block;
  height: 0.25em;
  left: calc(var(--tab-btn-padding) + 5%);
  position: absolute;
  right: calc(var(--tab-btn-padding) + 5%);
}

.feature-tab-heading {
  border-bottom: var(--divider-border);
}

.feature-tab-heading:first-child {
  border-top: var(--divider-border);
}

.features-tabs {
  margin-bottom: 2rem;
}

.feature-main-img {
  margin: 0 auto;
}

/*------------------------------------*\
  #DOWNLOAD SECTION
\*------------------------------------*/

.download-section {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.download-card {
  border-radius: 0.5rem;
  box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 24ch;
}

.download-card-bottom {
  padding: 1.25rem;
}

.download-card-top {
  padding: 1.25rem 1.25rem 0;
}

.download-card-browser-logo {
  margin: 1rem auto;
}

.download-card-button {
  width: 100%;
}

.card-min-browser {
  font-size: var(--fs-300);
  color: var(--color-neutral);
}

.download-cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/*------------------------------------*\
  #FAQ SECTION
\*------------------------------------*/

.faq-heading,
.faq-intro-text {
  text-align: center;
}

.faq-more-btn {
  display: block;
  margin: 0 auto;
}

.faq-question-btn {
  align-items: center;
  background: transparent;
  border: none;
  display: inline-flex;
  font-size: var(--fs-300);
  justify-content: space-between;
  line-height: var(--line-height-400);
  padding: 1em 0;
  width: 100%;
}

.faq-question-btn[aria-expanded='true'] > svg {
  --arrow-color: var(--color-primary-accent);
  transform: rotate(180deg);
}

.faq-accordion {
  margin-bottom: 3rem;
}

.faq-accordion-panel:first-child {
  border-top: var(--divider-border);
}

.faq-accordion-panel {
  border-bottom: var(--divider-border);
}

.faq-answer-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 150ms;
}

.faq-answer-content > div {
  overflow: hidden;
}

.faq-answer-content > div > .regular-text {
  margin: 0;
}

.faq-answer-content > div > span {
  display: block;
  padding-bottom: calc(2 * var(--regular-text-fs));
}

/*------------------------------------*\
  #CTA SECTION
\*------------------------------------*/

.cta-section {
  background-color: var(--color-primary-dark);
  color: white;
  text-align: center;
}

.cta-intro {
  font-size: var(--fs-100);
  font-weight: var(--fw-semi-bold);
  letter-spacing: var(--letter-spaced-400);
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.cta-form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 1.5rem auto 0;
  max-width: 30ch;
}

.cta-email-input {
  border: none;
  border-radius: 0.25em;
  font-size: var(--fs-200);
  padding: 0.75em 1em;
}

.cta-email-input::placeholder {
  opacity: 0.5;
}

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.footer {
  --footer-base-padding: 0.5rem;
  --logo-color: white;
  background-color: var(--color-neutral-dark);
  color: white;
  text-align: center;
}

.footer .site-logo-link {
  margin-bottom: calc(2 * var(--footer-base-padding));
}

.footer .site-link {
  display: inline-block;
  letter-spacing: var(--letter-spaced-200);
  margin: var(--footer-base-padding);
  padding: var(--footer-base-padding);
  text-transform: uppercase;
}

.footer-content {
  padding: calc(4 * var(--footer-base-padding)) 0 calc(2 * var(--footer-base-padding));
}

.footer .social-links {
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer .social-link {
  display: inline-block;
  margin: var(--footer-base-padding);
  padding: var(--footer-base-padding);
}
