body {
  margin: 0;
  min-height: 100vh;
}

h1,h2,h3,h4 {
  margin: 0;
}

img {
  display: block;
  font-style: italic;
  height: auto;
  max-width: 100%;
}

.primary-container {
  margin: auto;
  max-width: 68.75rem;
  padding-inline: 1rem;
}

.nav-list,
.social-links-list {
  list-style: none;
  padding: 0;
}

.header .nav-menu {
  position: fixed;
  visibility: hidden;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.landing-section {
  display: flex;
  flex-direction: column-reverse;
}

.contact-form {
  display: flex;
  flex-direction: column;
}
