:root {
  --fw-reg: 400;
  --fw-semi-bold: 500;
  --fs-100: 0.875rem;
  --fs-200: 0.9375rem;
  --fs-300: 1rem;
  --fs-500: 1.3rem;
  --fs-600: 1.5rem;
  --fs-700: 1.9rem;
  --letter-spaced-200: 0.1em;
  --letter-spaced-400: 0.2em;
  --line-height-400: 1.35;
  --line-height-500: 1.65;
  --color-neutral: hsl(224, 6%, 47%);
  --color-neutral-dark: hsl(229, 31%, 21%);
  --primary-dark: hsl(231, 69%, 60%);
  --primary-accent: hsl(0, 94%, 66%);
}

body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  min-height: 100vh;
}

button,
input {
  font-family: inherit;
}

h1,h2,h3,h4 {
  margin: 0;
}

img {
  display: block;
  font-style: italic;
  height: auto;
  max-width: 100%;
}

.nav-menu {
  font-size: var(--fs-300);
  letter-spacing: var(--letter-spaced-200);
}

.nav-list,
.btn--login {
  text-transform: uppercase;
}

.regular-text {
  font-size: var(--fs-300);
  font-weight: var(--fw-reg);
  line-height: var(--line-height-500);
  color: var(--color-neutral);
}

.heading {
  font-weight: var(--fw-semi-bold);
  line-height: var(--line-height-400);
}

.heading-size-1 {
  font-size: var(--fs-700);
}

.heading-size-2 {
  font-size: var(--fs-600);
}

.heading-size-3 {
  font-size: var(--fs-500);
}

.unstyled-list {
  list-style: none;
  padding: 0;
}

.primary-container {
  margin: auto;
  max-width: 68.75rem;
  padding-inline: 1.5rem;
}

.header .nav-menu {
  position: fixed;
  visibility: hidden;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.hero-section-content {
  display: flex;
  flex-direction: column-reverse;
}

.card__min-browser {
  font-size: var(--fs-300);
  color: var(--color-neutral);
}

.cta__form {
  display: flex;
  flex-direction: column;
}

.cta__email-input {
  font-size: var(--fs-300);
}

.cta__intro {
  font-size: var(--fs-100);
  font-weight: var(--fw-semi-bold);
  letter-spacing: var(--letter-spaced-400);
  text-transform: uppercase;
}

.btn {
  border: none;
  border-radius: 4px;
  font-size: var(--fs-200);
  font-weight: 500;
  padding: 0.75em 1.1em;
}

.btn--dark {
  background-color: var(--primary-dark);
  color: white;
}

.btn--light {
  background-color: hsl(0, 0%, 95%);
  box-shadow: 0px 1px 7px -3px rgba(0,0,0,0.75);
  color: var(--color-neutral-dark);
}

.btn--accent {
  background-color: var(--primary-accent);
  color: white;
}

.faq-btn,
.tab-btn {
  font-size: var(--fs-300);
}

.faq-answer {
  color: var(--color-neutral);
  font-size: var(--fs-300);
}

.accordion-title,
.faq-heading,
.cta-heading,
.card-heading,
.download-heading,
.features-heading,
.primary-heading,
.tab-btn,
.tab-subheading {
  color: var(--color-neutral-dark);
}